@model List<TeaShopApi.WebUI.Dtos.AboutDtos.ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<!-- [ sample-page ] start -->
	<div class="col-sm-12">
		<div class="card">

			<div class="card-header">
				<h5>Hakkında Sayfası</h5>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<tr>
						<th>#</th>
						<th>Adres</th>
						<th>No</th>
						<th>Mail</th>
						<th>Twitter</th>
						<th>Facebook</th>
						<th>Instagram</th>
						<th>Linkedln</th>
						<th>Sil</th>
						<th>Güncelle</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.AboutID</td>
							<td>@item.Adress</td>
							<td>@item.No</td>
							<td>@item.Mail</td>
							<td>@item.Twitter</td>
							<td>@item.Facebook</td>
							<td>@item.Instagram</td>
							<td>@item.Linkedln</td>
							<td><a href="/Admin/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger">Sil</a></td>
							<td><a href="/Admin/About/UpdateAbout/@item.AboutID" class="btn btn-outline-success">Güncelle</a></td>
						</tr>
					}
				</table>
				<a href="/Admin/About/CreateAbout" class="btn btn-outline-primary">Yeni Hakkında Girişi</a>

			</div>
		</div>
	</div>
	<!-- [ sample-page ] end -->
</div>