@model List<TeaShopApi.WebUI.Dtos.ChefsDtos.ResultChefsDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
	<!-- [ sample-page ] start -->
	<div class="col-sm-12">
		<div class="card">

			<div class="card-header">
				<h5>Şef Sayfası</h5>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<tr>
						<th>#</th>
						<th>Adı Soyadı</th>
						<th>Unvan</th>
						<th>Açıklama</th>
						<th>Resim</th>
						
						<th>Sil</th>
						<th>Güncelle</th>
					</tr>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.ChefsID</td>
							<td>@item.NameSurname</td>
							<td>@item.Unvan</td>
							<td>@item.Description</td>
							<td>@item.ImageUrl</td>

							<td><a href="/Admin/Chefs/DeleteChefs/@item.ChefsID" class="btn btn-outline-danger">Sil</a></td>
							<td><a href="/Admin/Chefs/UpdateChefs/@item.ChefsID" class="btn btn-outline-success">Güncelle</a></td>
						</tr>
					}
				</table>
				<a href="/Admin/Chefs/CreateChefs" class="btn btn-outline-primary">Yeni Hakkında Girişi</a>

			</div>
		</div>
	</div>
	<!-- [ sample-page ] end -->
</div>